# datasets
data/
datasets/
*.csv
*.json
*.jsonl
*.xlsx

# models
models/
outputs/
checkpoints/
*.pt
*.bin
*.safetensors

# vector databases
chroma/
vectorstore/

# notebooks checkpoints
.ipynb_checkpoints/

# python cache
__pycache__/
*.pyc

# env
.env
venv/
.env/

# system
.DS_Store